# Data Import and Cleaning

## Objectives

* Write your notebook objective here, for example, "Fetch data from Kaggle and save as raw data", or "engineer features for modelling"

## Inputs

* Write down which data or information you need to run the notebook 

## Outputs

* Write here which files, code or artefacts you generate by the end of the notebook 

## Additional Comments

* If you have any additional comments that don't fit in the previous bullets, please state them here.

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'c:\\Users\\sayed\\OneDrive\\Documents\\Code institute\\UK_Renewables_Project\\jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'c:\\Users\\sayed\\OneDrive\\Documents\\Code institute\\UK_Renewables_Project'

# Section 1

Section 1 content

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("Raw_Data/DUKES 1.1 flat.csv")
df.head(5)

,Year,Fuel,Flow_type,Primary_group,Subgroup,Category,Aggregate_type,Unit,Energy,Row
0,2023,Bioenergy & waste,Production,Supply,NaN,NaN,value,ktoe,13730.03,5
1,2023,Bioenergy & waste,Imports,Supply,NaN,NaN,value,ktoe,5327.35,6
2,2023,Bioenergy & waste,Exports,Supply,NaN,NaN,value,ktoe,-640.61,7
3,2023,Bioenergy & waste,Marine bunkers,Supply,NaN,NaN,value,ktoe,0.00,8
4,2023,Bioenergy & waste,Stock change,Supply,NaN,NaN,value,ktoe,-10.96,9

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15022 entries, 0 to 15021
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            15022 non-null  int64
 1   Fuel            15022 non-null  object
 2   Flow_type       15022 non-null  object
 3   Primary_group   15022 non-null  object
 4   Subgroup        12432 non-null  object
 5   Category        7511 non-null   object
 6   Aggregate_type  15022 non-null  object
 7   Unit            15022 non-null  object
 8   Energy          15022 non-null  float64
 9   Row             15022 non-null  int64
dtypes: float64(1), int64(2), object(7)
memory usage: 1.1+ MB

In [7]:
# print unique values in all columns
for col in df.columns:
    print(f"Unique values in {col}: {df[col].unique()}")

Unique values in Year: [2023 2022 2021 2020 2019 2018 2017 2016 2015 2014 2013 2012 2011 2010
 2009 2008 2007 2006 2005 2004 2003 2002 2001 2000 1999 1998]
Unique values in Fuel: ['Bioenergy & waste' 'Coal' 'Electricity' 'Heat sold' 'Manufactured fuel'
 'Natural gas' 'Petroleum products' 'Primary electricity' 'Primary oils'
 'Total']
Unique values in Flow_type: ['Production' 'Imports' 'Exports' 'Marine bunkers' 'Stock change'
 'Total supply' 'Statistical difference' 'Total demand' 'Transfers'
 'Transformation' 'Electricity generation' 'Major power producers'
 'Autogenerators' 'Heat generation' 'Petroleum refineries'
 'Coke manufacture' 'Blast furnaces' 'Patent fuel manufacture' 'Other'
 'Energy industry use' 'Oil and gas extraction' 'Coal extraction'
 'Pumped storage' 'Losses' 'Final consumption' 'Industry' 'Unclassified'
 'Iron and steel' 'Non-ferrous metals' 'Mineral products' 'Chemicals'
 'Mechanical engineering etc' 'Electrical engineering etc' 'Vehicles'
 'Food, beverages etc' 'Textiles, leather etc' 'Paper, printing etc'
 'Other industries' 'Construction' 'Transport' 'Air' 'Rail' 'Road'
 'National navigation' 'Pipelines' 'Domestic' 'Public administration'
 'Commercial' 'Agriculture' 'Miscellaneous' 'Non energy use']
Unique values in Primary_group: ['Supply' 'Statistical difference' 'Demand']
Unique values in Subgroup: [nan 'Transformation' 'Energy industry use' 'Final consumption']
Unique values in Category: [nan 'Electricity generation' 'Industry' 'Transport' 'Other final users']
Unique values in Aggregate_type: ['value' 'sum']
Unique values in Unit: ['ktoe']
Unique values in Energy: [13730.03  5327.35  -640.61 ...  1359.25  2313.48 12737.2 ]
Unique values in Row: [ 5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28
 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52
 53 54 55 56 57 58 59 60 61 62]

In [8]:
df = df[df['Aggregate_type'] != 'sum']
print(df['Aggregate_type'].unique())

['value']

In [9]:
df = df[df['Fuel'] != 'Total']
print(df['Fuel'].unique())

['Bioenergy & waste' 'Coal' 'Electricity' 'Heat sold' 'Manufactured fuel'
 'Natural gas' 'Petroleum products' 'Primary electricity' 'Primary oils']

In [10]:
df = df[~df['Flow_type'].isin(['Total supply', 'Total demand'])]
print(df['Flow_type'].unique())

['Production' 'Imports' 'Exports' 'Marine bunkers' 'Stock change'
 'Statistical difference' 'Transfers' 'Major power producers'
 'Autogenerators' 'Heat generation' 'Petroleum refineries'
 'Coke manufacture' 'Blast furnaces' 'Patent fuel manufacture' 'Other'
 'Electricity generation' 'Oil and gas extraction' 'Coal extraction'
 'Pumped storage' 'Losses' 'Unclassified' 'Iron and steel'
 'Non-ferrous metals' 'Mineral products' 'Chemicals'
 'Mechanical engineering etc' 'Electrical engineering etc' 'Vehicles'
 'Food, beverages etc' 'Textiles, leather etc' 'Paper, printing etc'
 'Other industries' 'Construction' 'Air' 'Rail' 'Road'
 'National navigation' 'Pipelines' 'Domestic' 'Public administration'
 'Commercial' 'Agriculture' 'Miscellaneous' 'Non energy use']

In [11]:
df = df.drop(columns=['Aggregate_type', 'Row'])
df.columns

Index(['Year', 'Fuel', 'Flow_type', 'Primary_group', 'Subgroup', 'Category',
       'Unit', 'Energy'],
      dtype='object')

In [12]:
# Count zero values in the 'Energy' column
zero_count = (df['Energy'] == 0).sum()
print(f"Number of zero values in 'Energy': {zero_count}")

Number of zero values in 'Energy': 6676

In [13]:
# Check for very small values close to zero
small_values = df[(df['Energy'] > 0) & (df['Energy'] < 1e-6)]
print(f"Number of very small values close to zero: {len(small_values)}")

Number of very small values close to zero: 0

In [14]:
# Turn negative energy values under the 'Demand' category into positive values
df.loc[(df['Primary_group'] == 'Demand') & (df['Energy'] < 0), 'Energy'] = df['Energy'].abs()

In [15]:
df

,Year,Fuel,Flow_type,Primary_group,Subgroup,Category,Unit,Energy
0,2023,Bioenergy & waste,Production,Supply,NaN,NaN,ktoe,13730.03
1,2023,Bioenergy & waste,Imports,Supply,NaN,NaN,ktoe,5327.35
2,2023,Bioenergy & waste,Exports,Supply,NaN,NaN,ktoe,-640.61
3,2023,Bioenergy & waste,Marine bunkers,Supply,NaN,NaN,ktoe,0.00
4,2023,Bioenergy & waste,Stock change,Supply,NaN,NaN,ktoe,-10.96
...,...,...,...,...,...,...,...,...
14959,1998,Primary oils,Public administration,Demand,Final consumption,Other final users,ktoe,0.00
14960,1998,Primary oils,Commercial,Demand,Final consumption,Other final users,ktoe,0.00
14961,1998,Primary oils,Agriculture,Demand,Final consumption,Other final users,ktoe,0.00
14962,1998,Primary oils,Miscellaneous,Demand,Final consumption,Other final users,ktoe,0.00
14963,1998,Primary oils,Non energy use,Demand,Final consumption,NaN,ktoe,0.00

---

# Dukes 6.1

We will be doing the same processes for the second dataset we are using for our analysis

In [16]:
# import dukes 6.1 data
df_61 = pd.read_csv("Raw_Data/DUKES 6.1 flat.csv")
df_61.head(5)

,Year,Fuel,Flow_type,Primary_group,Subgroup,Category,Aggregate_type,Unit,Energy,Row
0,2023,Anaerobic digestion,Production,Supply,NaN,NaN,value,ktoe,1578.09,6
1,2023,Anaerobic digestion,Other sources,Supply,NaN,NaN,value,ktoe,0.0,7
2,2023,Anaerobic digestion,Imports,Supply,NaN,NaN,value,ktoe,0.0,8
3,2023,Anaerobic digestion,Exports,Supply,NaN,NaN,value,ktoe,0.0,9
4,2023,Anaerobic digestion,Marine bunkers,Supply,NaN,NaN,value,ktoe,0.0,10

In [17]:
df_61.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21653 entries, 0 to 21652
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            21653 non-null  int64
 1   Fuel            21653 non-null  object
 2   Flow_type       21653 non-null  object
 3   Primary_group   21653 non-null  object
 4   Subgroup        17616 non-null  object
 5   Category        9542 non-null   object
 6   Aggregate_type  21653 non-null  object
 7   Unit            21653 non-null  object
 8   Energy          21653 non-null  object
 9   Row             21653 non-null  int64
dtypes: int64(2), object(8)
memory usage: 1.7+ MB

The Energy column is showing as Object type. Lets see why

In [18]:
# Convert 'Energy' to numeric, forcing non-numeric values to NaN
df_61['Energy_numeric'] = pd.to_numeric(df_61['Energy'], errors='coerce')

# Find rows where conversion failed (non-numeric values)
non_numeric_rows = df_61[df_61['Energy_numeric'].isna()]
print(non_numeric_rows)

       Year                 Fuel        Flow_type Primary_group  \
7965   2014  Anaerobic digestion       Production        Supply
7966   2014  Anaerobic digestion    Other sources        Supply
7967   2014  Anaerobic digestion          Imports        Supply
7968   2014  Anaerobic digestion          Exports        Supply
7969   2014  Anaerobic digestion   Marine bunkers        Supply
...     ...                  ...              ...           ...
21372  1998        Solid biomass  Heat generation        Demand
21431  1998     Total renewables  Heat generation        Demand
21490  1998           Waste wood  Heat generation        Demand
21549  1998      Wind and marine  Heat generation        Demand
21608  1998                 Wood  Heat generation        Demand

             Subgroup Category Aggregate_type  Unit Energy  Row  \
7965              NaN      NaN          value  ktoe    [z]    6
7966              NaN      NaN          value  ktoe    [z]    7
7967              NaN      NaN          value  ktoe    [z]    8
7968              NaN      NaN          value  ktoe    [z]    9
7969              NaN      NaN          value  ktoe    [z]   10
...               ...      ...            ...   ...    ...  ...
21372  Transformation      NaN          value  ktoe    [x]   20
21431  Transformation      NaN          value  ktoe    [x]   20
21490  Transformation      NaN          value  ktoe    [x]   20
21549  Transformation      NaN          value  ktoe    [x]   20
21608  Transformation      NaN          value  ktoe    [x]   20

       Energy_numeric
7965              NaN
7966              NaN
7967              NaN
7968              NaN
7969              NaN
...               ...
21372             NaN
21431             NaN
21490             NaN
21549             NaN
21608             NaN

[1037 rows x 11 columns]

It looks like we have data missing for some of the earlier years

In [19]:
# Convert 'Energy' to numeric, forcing non-numeric values to NaN
df_61['Energy'] = pd.to_numeric(df_61['Energy'], errors='coerce')

# Drop rows where 'Energy' is NaN (non-numeric values)
df_61 = df_61.dropna(subset=['Energy'])

# Reset the index after dropping rows
df_61 = df_61.reset_index(drop=True)

# Check the updated DataFrame
print(df_61.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20616 entries, 0 to 20615
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            20616 non-null  int64
 1   Fuel            20616 non-null  object
 2   Flow_type       20616 non-null  object
 3   Primary_group   20616 non-null  object
 4   Subgroup        16766 non-null  object
 5   Category        9077 non-null   object
 6   Aggregate_type  20616 non-null  object
 7   Unit            20616 non-null  object
 8   Energy          20616 non-null  float64
 9   Row             20616 non-null  int64
 10  Energy_numeric  20616 non-null  float64
dtypes: float64(2), int64(2), object(7)
memory usage: 1.7+ MB
None

In [20]:
for column in df_61.columns:
    unique_values = df_61[column].unique()
    print(f"Unique entries in '{column}': {unique_values}")

Unique entries in 'Year': [2023 2022 2021 2020 2019 2018 2017 2016 2015 2014 2013 2012 2011 2010
 2009 2008 2007 2006 2005 2004 2003 2002 2001 2000 1999 1998]
Unique entries in 'Fuel': ['Anaerobic digestion' 'Animal biomass' 'Heat pumps' 'Hydro'
 'Landfill gas' 'Liquid biofuels' 'Non-renewable waste' 'Plant biomass'
 'Renewable waste' 'Sewage gas' 'Solar PV, solar thermal, geothermal'
 'Total renewables' 'Waste wood' 'Wind and marine' 'Wood' 'Solid biomass']
Unique entries in 'Flow_type': ['Production' 'Other sources' 'Imports' 'Exports' 'Marine bunkers'
 'Stock change' 'Transfers' 'Total supply' 'Statistical difference'
 'Total demand' 'Transformation' 'Electricity generation'
 'Major power producers' 'Autogenerators' 'Heat generation'
 'Petroleum refineries' 'Coke manufacture' 'Blast furnaces'
 'Patent fuel manufacture' 'Other' 'Energy industry use'
 'Oil and gas extraction' 'Coal extraction' 'Pumped storage' 'Losses'
 'Final consumption' 'Industry' 'Unclassified' 'Iron and steel'
 'Non-ferrous metals' 'Mineral products' 'Chemicals'
 'Mechanical engineering, etc' 'Electrical engineering, etc' 'Vehicles'
 'Food, beverages, etc' 'Textiles, leather, etc' 'Paper, printing, etc'
 'Other industries' 'Construction' 'Transport' 'Air' 'Rail' 'Road'
 'National navigation' 'Pipelines' 'Domestic' 'Public administration'
 'Commercial' 'Agriculture' 'Miscellaneous' 'Non energy use']
Unique entries in 'Primary_group': ['Supply' 'Statistical difference' 'Demand']
Unique entries in 'Subgroup': [nan 'Transformation' 'Energy industry use' 'Final consumption']
Unique entries in 'Category': [nan 'Industry' 'Transport' 'Other final users']
Unique entries in 'Aggregate_type': ['value' 'sum']
Unique entries in 'Unit': ['ktoe']
Unique entries in 'Energy': [1578.09    0.   -548.05 ...  436.9    75.4    75.  ]
Unique entries in 'Row': [ 6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29
 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53
 54 55 56 57 58 59 60 61 62 63 64]
Unique entries in 'Energy_numeric': [1578.09    0.   -548.05 ...  436.9    75.4    75.  ]

Now, as in the previous dataset, we want to drop rows that have sum in them as they duplicate our values

In [21]:
df_61 = df_61[~df_61['Aggregate_type'].str.contains('sum', case=False, na=False)]
print(df_61['Aggregate_type'].unique())

['value']

In [22]:
df_61 = df_61[df_61['Fuel'] != 'Total renewables']
print(df_61['Fuel'].unique())

['Anaerobic digestion' 'Animal biomass' 'Heat pumps' 'Hydro'
 'Landfill gas' 'Liquid biofuels' 'Non-renewable waste' 'Plant biomass'
 'Renewable waste' 'Sewage gas' 'Solar PV, solar thermal, geothermal'
 'Waste wood' 'Wind and marine' 'Wood' 'Solid biomass']

In [23]:
print(df_61['Flow_type'].unique())

['Production' 'Other sources' 'Imports' 'Exports' 'Marine bunkers'
 'Stock change' 'Transfers' 'Statistical difference'
 'Major power producers' 'Autogenerators' 'Heat generation'
 'Petroleum refineries' 'Coke manufacture' 'Blast furnaces'
 'Patent fuel manufacture' 'Other' 'Electricity generation'
 'Oil and gas extraction' 'Coal extraction' 'Pumped storage' 'Losses'
 'Unclassified' 'Iron and steel' 'Non-ferrous metals' 'Mineral products'
 'Chemicals' 'Mechanical engineering, etc' 'Electrical engineering, etc'
 'Vehicles' 'Food, beverages, etc' 'Textiles, leather, etc'
 'Paper, printing, etc' 'Other industries' 'Construction' 'Air' 'Rail'
 'Road' 'National navigation' 'Pipelines' 'Domestic'
 'Public administration' 'Commercial' 'Agriculture' 'Miscellaneous'
 'Non energy use']

In [24]:
df_61 = df_61.drop(columns=['Aggregate_type', 'Row'])
df_61.columns

Index(['Year', 'Fuel', 'Flow_type', 'Primary_group', 'Subgroup', 'Category',
       'Unit', 'Energy', 'Energy_numeric'],
      dtype='object')

---

We will add one more column to each dataset. This energy in TWh which more familiar for the general public

In [25]:
df['Energy_TWh'] = df['Energy'] * 0.01163
df_61['Energy_TWh'] = df_61['Energy'] * 0.01163

In [26]:
print(df.head(5))
print(df_61.head(5))

   Year               Fuel       Flow_type Primary_group Subgroup Category  \
0  2023  Bioenergy & waste      Production        Supply      NaN      NaN
1  2023  Bioenergy & waste         Imports        Supply      NaN      NaN
2  2023  Bioenergy & waste         Exports        Supply      NaN      NaN
3  2023  Bioenergy & waste  Marine bunkers        Supply      NaN      NaN
4  2023  Bioenergy & waste    Stock change        Supply      NaN      NaN

   Unit    Energy  Energy_TWh
0  ktoe  13730.03  159.680249
1  ktoe   5327.35   61.957081
2  ktoe   -640.61   -7.450294
3  ktoe      0.00    0.000000
4  ktoe    -10.96   -0.127465
   Year                 Fuel       Flow_type Primary_group Subgroup Category  \
0  2023  Anaerobic digestion      Production        Supply      NaN      NaN
1  2023  Anaerobic digestion   Other sources        Supply      NaN      NaN
2  2023  Anaerobic digestion         Imports        Supply      NaN      NaN
3  2023  Anaerobic digestion         Exports        Supply      NaN      NaN
4  2023  Anaerobic digestion  Marine bunkers        Supply      NaN      NaN

   Unit   Energy  Energy_numeric  Energy_TWh
0  ktoe  1578.09         1578.09   18.353187
1  ktoe     0.00            0.00    0.000000
2  ktoe     0.00            0.00    0.000000
3  ktoe     0.00            0.00    0.000000
4  ktoe     0.00            0.00    0.000000

### Export

Both datasets are cleaned now. Lets reset the index and then export them for further analysis

In [27]:
df = df.reset_index(drop=True)
df_61 = df_61.reset_index(drop=True)

In [28]:
df.to_csv("Exported_Data/df1_cleaned.csv", index=False)
df_61.to_csv("Exported_Data/df6_cleaned.csv", index=False)

---